.header {
  padding-top: 18px;
  padding-bottom: 17px;
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.08);
  font-family: "DIN";
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 36px;
}
.menu__item:nth-child(6) {
  margin-right: 25px;
}
.menu__item:last-child {
  margin-right: 0;
}
.order__link {
  padding: 16px 64px;
}
.menu__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  transition: all 0.4s ease;
}
.menu__link:hover {
  text-decoration: underline;
  color: #db0000;
  text-underline-offset: 4px;
  text-decoration-color: #db0000;
  opacity: 0.9;
}
.menu__link_active {
  text-decoration: underline;
  color: #db0000;
  text-underline-offset: 4px;
}
/* Form */
.nav {
  display: flex;
}

.lang-menu {
  position: relative;
  z-index: 99;
  margin-left: 24px;
}
.selected-lang {
  cursor: pointer;
}
.lang__list {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: all 0.3s ease;
  top: 25px;
  left: 0;
}
.actived {
  /* display: block; */
  opacity: 1;
  visibility: visible;
}
