$mainThemeColor: #FFFFFF;
$primaryAccentColor:#5B6460;
$secondAccentColor: #E9ECE0;
$colorTextMain: black;
// $iconBack: #FEA5BB;
// $iconHoverBack: #D41443;

// $primaryBackground: #E5E5E5;
// $secondaryBackground: #FFF5F6;

// $mainHeadercolor: #000000;
// $mainTextColor: #907E82;
// $contrastTextColor: #FFFFFF;

$accentTextFont: 'Open Sans',normal;
$secondAccentText: 'Mulish';
$secondTextFont: 'Roboto';

$transTime: 250ms;
$transFunction: cubic-bezier(0.4, 0, 0.2, 1);